@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto-Regular";
    font-display: swap;
    src: url("../public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    font-display: swap;
    src: url("../public/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}

.button {
    @apply px-3 py-1 bg-[#252525] text-[#d9d9d9] rounded-[10px] border border-[#d9d9d9] cursor-pointer transition-colors duration-300 hover:bg-[#333];
}

.button-secondary {
    @apply button;
    @apply bg-[#d9d9d9] text-[#161616] hover:bg-[#f8f8f8];
}

.button-tertiary {
    @apply button;
    @apply bg-[#161616] hover:bg-[#252525] border-none;
}

.button-accent {
    @apply button;
    @apply bg-[#d4df38] text-[#161616] hover:bg-[#f0ff3b]
}
